body {
    margin: 0;
    font-family: Arial, "微軟正黑體";
    color: #333;
    background-color: #95cfff;
}
.time {
    font-size: 13px;
    color: #333;
    letter-spacing: 6px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
.main {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.weather_card {
    box-sizing: border-box;
    margin: 0 80px 25px 80px;
    padding: 25px;
    background-color: rgba(196, 196, 196, 0.8);
    border: 1px solid #333;
    border-radius: 15px;
    box-shadow: 3px 3px 9px #333;
}
.county{
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
}
.weather{
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
}
.high{
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
}
.low{
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
}
.body{
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
}