* {
    box-sizing: border-box;
    font-family: "微軟正黑體";
}

/* infor title */
h2 {
    font-size: 18px;
}
/* infor content */
.p{
    font-size: 15px;
}

/* ********************************* */

body {
    margin: 0;
    padding: 0;
}
.all {
    width: 100%;
    margin: auto;
    background-color: #ffffff;
}
.navbar{
    width: 100%;
    height: 54px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 8% 8px 8%;  
}
.logo {
    width: 120px;
    height: 38px; 
}
.menuL {
    display: flex;
}
.menuR {
    display: flex;
    margin-left: auto;
}
/* menu 左側選單 */
.trigger-menuL {
    width: 38px;
    height: 38px;
    padding: 10px;
    display: none;
}
/* menu 右側選單 */
.trigger-menuR {
    width: 38px;
    height: 38px;
    padding: 10px;
    display: none;
}
.menu-ul {
    margin: 0;
    padding: 0;
    flex-direction: row;
    display: inline-block;
    align-items: center;
    font-size: 13px;
    color: #000000;
}
.menu-style{
    list-style: none;
    padding: 15px 10px 10px 10px;
    display: inline-block;
    margin: 20px;
}
.nav-font{
  /* 取消底線畫面跳動 */
  border-bottom: 2px solid transparent;
}
/* 底線樣式 */
.nav-font:hover{
    border-bottom: 2px solid ;
    cursor: pointer;
}
/* 外框樣式 */
.menu-style:active{
    /* border: 1px dashed; */
    outline: 1px dashed #000000;
}
/* 放大鏡、購物車 */
.icons-img{
    padding-top:5px;
    margin-left: 10px;
}
/* 內容大框 */
.content {
    display: flex;
    flex-direction: column;
    position: relative;
}
/* Banner-01 */
.banner {
    width: 84%;
    display: flex;
    margin: auto;
    margin-bottom: 80px;
}
/* Banner-02 */
.boxB1 {
    display: flex;
    margin: auto;
    margin-bottom: 30px;
}
.banner img {
    width: 100%;
    height: 30vw;
    margin: auto;
}
/* Banner 標題 */
.slogan-title {
    position: absolute;
    left: 42%;
    bottom: 83%;
    font-size: 50px;
    font-weight: bold;
}
/* Banner 內容 */
.slogan-content{
    position: absolute;
    left: 43%;
    bottom: 80%;
}
/* Banner 標題 */
.slogan-title1 {
    position: absolute;
    left: 13%;
    bottom: 43%;
    font-size: 46px;
    font-weight: bold;
}
/* Banner 內容 */
.slogan-content1{
    position: absolute;
    left: 13%;
    bottom: 41%;
    font-size: 15px;
}
/* infor-01 外框 */
.boxA {
    width: calc(84% + 20px);
    display: flex;
    margin: auto;
}
/* infor-01 左 */
.boxAL {
    width: 50%;
    display: flex;
    margin-bottom: 30px; 
}
/* infor-01 右 */
.boxAR {
    width: 50%;
    display: flex;
    margin-bottom: 30px;
}
/* infor-02 外框 */
.boxC {
    width: calc(84% + 20px);
    margin: auto;
    display: flex;
}
/* infor-02 左 */
.boxCL {
    width: 50%;
    display: flex;
    margin-bottom: 30px;
}
/* infor-02 右 */
.boxCR {
    width: 50%;
    display: flex;
    margin-bottom: 30px;
}
/* 圖片樣式 */
.box_type {
    width: 50%;
    margin: 0 10px;
    flex-wrap: wrap;
}

.box_type_img:hover{
    opacity: 0.9;
}

/* 適用於工作地點 */
.space-01{
    font-size: 24px;
    margin:0 160px 20px 150px;
    font-weight: bold;
}
/* 關注Microsoft */
.space-02{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
    margin:20px 0px 50px 155px;
    display: flex;
    align-items: center;
}

/* ------------------------------------------------ */
/* 按鈕樣式 */

.box-inside_btn{
    background-color:#ffffff;
    border:none;
    font-size: 15px;
    font-weight: 800;
    color:#0067b8;
    z-index: 100;
}
.box-inside_btn:hover{
    background-color:#ffffff;
    border:none;
    font-size: 15px;
    font-weight: 800;
    color:#0067b8;
    z-index: 100;
    /* border-bottom: 2px solid; */
}
.box-inside_btn::after {
    content: ">";
    font-size: 20px;
    position: relative;
    left: 5px;
    transition: 0.2s ease-in-out;
}
/* 滑鼠滑過往右10px */
.box-inside_btn:hover::after{
    left: 10px;
}
/* 點擊效果 */
.box-inside_btn:focus{
    color: #005da6;
    background: rgba(0,103,184,.1);
    outline: 1px solid rgba(255,255,255,.6);
    border: 2px solid #000;
}
.box-inside_btn:focus::after{
    left: 10px;
}
.box-inside_btn::before{
    content:"";
    background-color: #005da6;
    width: 80%;
    height: 2px;
    position: relative;
    top: 25px;
    transition: 0.2s;
    display: block;
    opacity: 0;
}

/* ------------------------------------------------ */
/* 頁尾 */

.footer{
    width: 100%;
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center;
}
/* 取消超連結底線 */
.footer a{
    text-decoration: none;
}
.footer_text{
    width: 90%;
    max-width: 1600px;
    display: flex;
}
.footer_box{
    flex: 1;
    padding: 36px 0 4px;
}
.footer_btn{
    color: #616161;
    flex-direction: column;
    padding:0;
}
.footer_btn a{
    color: #616161;
}
.footer_btn a:hover{
    color: rgba(0,0,0,.9);
    text-decoration: underline;
}
.footer_btn li{
    font-size: 13px;
    display: block;
    padding: 7px 4px;
    line-height: unset;
}
.footer_btn .footer_btn_title{
    font-size: 15px;
    font-weight: 600;
}


/* ----------------------------------- */



/* ------------------------------------ */

@media(max-width:1399px){

    .navbar {
        width: 100%;
        height: 54px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0 6% 8px 5%;  
    }

    /* Banner-01 */
    .banner {
        width: 90%;
        display: flex;
        margin: auto;
        margin-bottom: 80px;
    }
    /* Banner 標題 */
    .slogan-title {
        position: absolute;
        left: 45%;
        bottom: 85%;
        font-size: 24px;
        font-weight: bold;
    }
    /* Banner 標題 */
    .slogan-title1 {
        position: absolute;
        left: 10%;
        bottom: 46%;
        font-size: 24px;
        font-weight: bold;
    }
    /* Banner 內容 */
    .slogan-content1{
        position: absolute;
        left: 10%;
        bottom: 44%;
        font-size: 15px;
    }
    /* Banner 內容 */
    .slogan-content{
        position: absolute;
        left: 40%;
        bottom: 82%;
    }

    /* infor-01 外框 */
    .boxA {
        width: calc(90% + 20px);
        display: flex;
        margin: auto;
    }
        /* infor-02 外框 */
        .boxA {
            width: calc(90% + 20px);
            display: flex;
            margin: auto;
        }
    .space-01{
        font-size: 30px;
        margin:20px 150px;
        font-weight: bold;
    }
    .space-02{
        font-size: 15px;
        margin:20px 150px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.6);
    }
    .none1399{
        display:none;
    }
    .footer_text{
        width: 90%;
        display: flex;
        flex-direction: row;
    }
}
@media(max-width:1083px) {
    .navbar {
        width: 100%;
        height: 54px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:0 8% 8px 3%;  
    }
        /* Banner 標題 */
        .slogan-title {
                position: absolute;
                left: 45%;
                bottom: 85%;
                font-size: 24px;
                font-weight: bold;
        }
        /* Banner 內容 */
        .slogan-content{
                position: absolute;
                left: 40%;
                bottom: 84%;
        }
         /* Banner 標題 */
        .slogan-title1 {
            position: absolute;
            left: 7%;
            bottom: 43%;
            font-size: 24px;
            font-weight: bold;
        }
        /* Banner 內容 */
        .slogan-content1{
            position: absolute;
            left: 7%;
            bottom: 42%;
            font-size: 15px;
        }
        .boxAL{
            width: 100%;
        }
        .boxAR{
            width: 100%;
        }
        .boxCL{
            width: 100%;
        }
        .boxCR{
            width: 100%;
        }
        .boxA {
            flex-direction: column;
            margin: 0 auto;
        }
        .boxC {
            flex-direction: column;
            margin: 0 auto;
        }
        .box_type {
            /* width:50vw; */
            width: 50%;
            margin-right: 10px;
            /* width:calc(50vw -10px); */
        }
        .space-01{
            font-size: 24px;
            margin:20px 100px;
            font-weight: bold;
        }
        .space-02{
            font-size: 15px;
            margin:0 0 50px 100px;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.6);
        }
        .banner {
            width: 100%;
            display: flex;
            margin: auto;
            margin-bottom: 30px;
        }
        .banner img {
            width: 100%;
            height: 55vw;
            margin: auto;
        }
        .footer_text{
            width: 100%;
            flex-wrap: wrap;
        }
        .footer_box{
            padding: 36px 0 4px 20px;
            min-width: 33%;
        }
}
@media(max-width:859px) {
    .navbar {
    width: 87%;
    height: 54px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding:0 8% 8px 3%;  
    }

    .logo{
        margin-left: auto; 
    }
    .trigger-menuL {
        height: 60px;
        display: unset;
        display: flex;
        order: 1;
        margin-right: auto;
    }
    .trigger-menuR {
        height: 60px;
        display: unset;
        display: flex;
        order: 3;
        margin-left: auto;
    }
    .menuL {
        display: none;
    }
    .menuR {
        display: none;
    }
    .logo {
        justify-content: center;
        order: 2;
    }
    .banner {
        width: 100%;
        display: flex;
        margin: auto;
        margin-bottom: 30px; 
    }

    .banner img {
        width: 100%;
        height: 60vw;
        margin: auto;
    }

    .banner_buttom{
        width: 100%;
        height: 300px;
        background-color: #e6e6e6; 
        position: absolute;
        top: 300px;
    }

    .banner_buttom-1{
        width: 100%;
        height: 300px;
        background-color: #e6e6e6; 
        position: absolute;
        top: 2682px;
    }

    /* Banner 標題 */
    .slogan-title {
        position: absolute;
        left: 45%;
        bottom: 88%;
        font-size: 24px;
        font-weight: bold;
        z-index: 1;
}
    /* Banner 內容 */
    .slogan-content{
            position: absolute;
            left: 40%;
            bottom: 87%;
            z-index: 1;
}
.space-01{
    font-size: 24px;
    margin:20px 60px;
    font-weight: bold;
}
.space-02{
    font-size: 15px;
    margin:0 0 50px 60px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}

}
@media(max-width:539px) {
    /* Banner 標題 */
    .slogan-title {
        position: absolute;
        left: 39%;
        bottom: 92%;
        font-size: 24px;
        font-weight: bold;
}
/* Banner 內容 */
    .slogan-content{
        position: absolute;
        left: 25%;
        bottom: 91%;
}
    .box_type {
        /* width:50vw; */
        width: 100%;
        /* width:calc(50vw -10px); */
    }
    .boxAR {
        flex-direction: column;
        width: 100%;
    }
    .boxAL {
        flex-direction: column;
        width: 100%;
    }
    .boxAL img {
        width: 100%;
    }
    .boxAR img {
        width: 100%;
    }
    .boxC {
        flex-wrap: wrap;
    }
    .boxCR {
        flex-direction: column;
        width: 100%;
    }
    .boxCL {
        flex-direction: column;
        width: 100%;
    }
    .boxCL img {
        width: 100%;
    }
    .boxCR img {
        width: 100%;
    }
    .banner {
        width: 100%;
        display: flex;
        margin: auto;
        margin-bottom: 30px;
    }
    .banner img {
        height: 120vw;
        margin: auto;

    }
    .space-01{
        font-size: 24px;
        margin:10px 30px;
        font-weight: bold;
    }
    .space-02{
        font-size: 15px;
        margin:0 0 50px 35px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.6);
    }
    .box_type {
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
        flex-wrap: wrap;
    }
    .footer_box{
        width: 90%;
        min-width: 60%;
        padding-left: 20px;
    }
    .footer_text{
        align-content: flex-start;
    }
}


