*{
    transition: .5s;
    /* 隱藏超出x軸頁面的內容 */
    overflow-x:hidden;
    font-family: "微軟正黑體","Arial", 'Times New Roman' , serif;
    /* -webkit-overflow-scrolling: touch; */
}
html{
    position: relative;
    scroll-behavior: smooth;
}
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #e2e2e2;
}
.container{
    position: relative;
}

/* ======漢堡條====== */
.hbg{
    position: fixed;
    top: 68px;
    right: 8%;
    font-size: 50px;
    cursor: pointer;
    display: none;
    z-index: 1;
}
@media screen and (max-width: 768px){
    .hbg{
        display: inline;
    }
}
.hbg_ul{
    position: fixed;
    top: 148px;
    right: -100%;
    font-size: 36px;
    line-height:3;
    color: #333;
    width: 100%;
    height: 432px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    transition-delay: 0.5s; /* 設定transition的延遲來讓選單不會馬上收回去 */
}
.hbg:hover~.hbg_ul {
    position: fixed;
    right: 0;
}
.hbg_ul:hover {
    left: 0px; /* 設定讓游標移到btn上時維持效果，不讓btn縮回去 */
}
.hbg_ul>.hbg_li:hover {
    background-color: rgb(195, 195, 195);
    cursor: pointer;
    color: #fff;
}
/* ======漢堡條====== */

.header_title {
    font-size: 30px;
    height: 72px;
    background-color: #2a2a2a;
    color: #e2e2e2;
    line-height: 72px;
}
.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.main{
    margin-bottom: 120px;
}
@media screen and (max-width:768px){
    .main{
        margin-bottom: 50px;
    }
}
.avatar>img{
    width: 50%;
}
.about_name{
    font-size: 30px;
    color: #333;
}
.about_title{
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
.footer {
    height: 72px;
    background-color: #2a2a2a;
    position: absolute;
    width: 100%;
    bottom: 24px;
}
.nav>a {
    text-decoration: none;
    color: #e2e2e2;
    font-weight: bold;
}
.nav>a:nth-child(2){
    color: #f5e25d
}
.copyright{
    color: #333;
    background-color: #e2e2e2;
    position: absolute;
    width: 100%;
    bottom: 0px;
}
@media screen and (max-width: 768px ){
    .footer{
        display: none;
    }
}