*{
    transition: .5s;
}
body {
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

.community {
    height: 72px;
    background-color: #2a2a2a;
    color: #eeeeee
}

.title {
    font-family: 'Arial', 'Times New Roman' , serif;
    font-size: 30px;
}
.subtitle {
    font-family: 'Arial', 'Times New Roman' , serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.main{
    margin-bottom: 110px;
}
.portfolio {
    background-color: #eeeeee;
    height: 200px;
    border: 1px solid;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}
.portfolio:hover {
    background-color: #f5e25d;
}


.footer {
    height: 72px;
    background-color: #2a2a2a;
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 24px;
}
.nav>a {
    text-decoration: none;
    color: #e2e2e2;
    font-weight: bold;
}
.nav>a:active{
    color: #f5e25d
}
.copyright{
    color: #333;
    background-color: #eeeeee;
}