body
    font-family: "微軟正黑體"
hr
    border-top: 3px solid #333
.all
    .header
        width: 100%
        background-color: #212529
        position: fixed
        z-index: 99
        .navbar
            width: 1140px
            height: 85px
            margin: 0 auto
            color: #E2E2E2
            font-weight: bold
            font-size: 16px
            position: relative
            @media screen and ( max-width: 1150px )
                width: 800px
            @media screen and ( max-width: 810px )
                width: 600px
            @media screen and ( max-width: 600px )
                width: 450px
            .about
                cursor: pointer
                &:hover
                    color: #B39B74
            .wait
                cursor: pointer
                &:hover
                    color: #B39B74
            .find
                cursor: pointer
                &:hover
                    color: #B39B74
            .faq
                cursor: pointer
                &:hover
                    color: #B39B74
            .donate
                cursor: pointer
                &:hover
                    color: #B39B74
            .blog
                cursor: pointer
                &:hover
                    color: #B39B74
    .main
        .banner
            img
                width: 100%
                height: calc( 100vh - 85px )
        .title
            font-size: 36px
            font-weight: 600
        .about_info
            margin: 0 auto
            .about_title
                font-size: 18px
                font-weight: 600
            .about_content
                //font-size: 16px
                font-size: 1rem
        .space_01
            width: 100%
            height: 250px
            background-color: rgba(#212529,.9) 
            box-sizing: border-box
            @media screen and ( max-width: 575px )
                height: 600px 
            .space-01_title
                width: 100%
                display: flex
                justify-content: center
                justify-content: space-around
                list-style-type: none
                font-size: 24px
                font-weight: 600
                line-height: 100px
                color: #FFF
                @media screen and ( max-width: 715px )
                    font-size: 18px
                @media screen and ( max-width: 575px )
                    font-size: 20px
                    line-height: 75px
        .wait_info
            height: 150vh
            .wait_main
                height: calc(100vh - 20%)
                background-color: #212529
                margin: 0 auto
                .wait_img
                    height: 100%
                    background-color: lightgrey
                    @media screen and ( max-width: 768px )
                        height: 70%
                    @media screen and ( max-width: 575px )
                        height: 70%
                .wait_content
                    @media screen and ( max-width: 768px )
                        height: 30%
                    @media screen and ( max-width: 575px )
                        height: 30%
                .more_img
                    .more_img_box
                        width: 30%
                        height: 30vh
                        background-color: grey
                        @media screen and ( max-width: 768px )
                            height: 25vh
                        @media screen and ( max-width: 575px )
                            height: 20vh                    
        .find_info
            height: 80vh
            background-color: grey
        .faq_info
        .space_02
            width: 100%
            height: 200px
            background-color: rgba(#212529,.9) 
            box-sizing: border-box
            .space-02_title
                width: 100%
                display: flex
                justify-content: center
                justify-content: space-around
                list-style-type: none
                font-size: 24px
                font-weight: 600
                line-height: 80px
                color: #FFF
                @media screen and ( max-width: 600px )
                    font-size: 20px
        .donate_info
            font-family: "標楷體"
            font-size: 16px
            font-weight: 600
            height: 10vh
            margin-left: 20%
            position: relative
            &::before
                content: ""
                position: absolute
                top: 4px
                left: -15px
                width: 8px
                height: 15px
                background-color: #212529
            &::after
                content: ""
                position: absolute
                top: 28px
                left: -15px
                width: 8px
                height: 15px
                background-color: #212529
        .blog_info
            height: 80vh
            background-color: grey
    .footer
        height: 85px
        background-color: #212529
        .footer_content
            font-size: 16px
            color: #FFF
            box-sizing: border-box
            padding-top: 10px
            line-height: 30px
            @media screen and ( max-width: 600px )
                font-size: 12px